/* Div CSS */

.one {
    background-color: #ff6b97;
    color: white;
    padding: 10px;
    
}

.one ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap:wrap
}

.one ul li {
    margin: 0px;
    list-style: none;
}

.one a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding:10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.one a:hover {
    background-color: #ff4c7a;
}

/* Everything Else CSS */

:root {
    --green:#ff4c7a;
    --white:#ffffff;
}

body, header, footer, main, section, article, aside {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size: 16px;
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Four equal columns */;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

main section {
    border:solid hsl(345, 100%, 65%) 3px;
    padding: 5px;
}


/* Remove bottom border from first row */
main section:nth-child(-n+4) {
    border-bottom: none;
}

/* Remove top border from second row */
main section:nth-child(n+5) {
    border-top: none;
    
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    text-align: center;
    color:  #ff4c7a;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 18px;
    text-align: center;
    color: #ff4c7a;
    text-transform: uppercase;
}

h4 {
    font-size: 25px;
    text-align: left;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.personal p {
    text-align: left;
}

footer {
    margin-top: 25px;
    text-align: center;
}