
/* Div CSS */

.nav {
    background-color:#ff4c7a;
    color: white;
    padding: 15px;
    
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap:wrap
}

.nav ul li {
    margin: 0px;
    list-style: none;
}

.nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    padding:14px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav a:hover {
    background-color:#f33967;
}

/* Everything Else CSS */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  background-color: #ff4c7a;
  padding: 5px;
  margin:70px;
  margin-top: 15px;
  margin-bottom: 15px;;
}

.grid-container > div {
  background-color: #ffffff;
  border: 3px solid #ff4c7a;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}


body, header, footer, main, section, article, aside {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #f886ae;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 0px;
}


h1 b {
    color:#f33967;
}

h2 {
    font-size: 35px;
    text-align: center;
    color:  #ff4c7a;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container h3 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#ff4c7a;
    padding: 10px;
    text-align: center;
}

h4 {
    font-size: 35px;
    text-align: left;
    margin:15px;
    margin-left:20px;
    margin-top:25px;
    color:#ffffff;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.intro {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    font-size: 23px;
    text-align: center;
}

b {
    color:#ff4c7a;
}

a {
  text-decoration: none;
}

img {
    width:25%;
}

.item5 {
    background-color: #ff4c7a !important;
}


.item5 p {
    color:#ffffff;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:15px;
}

.item5 b {
    color:#ffffff;
    margin: 15px;
    text-align: center;
    font-size:17px;
}

.item5 h4 {
    color: #ffffff;
    margin:15px;
    margin-left:20px;
    margin-top:25px;
}

.item6 {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #ffafcb !important;
}

.item6 h2 {
    font-size: 60px;
    color:white;
    margin:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.item6 img {
    float:left;
    margin: 20px;
    width: 130px;
}

.item6 p {
    font-size: 20px;
    margin: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff
}

.item6 b {
    color:#ff4c7a;
}

.item6 h4 {
    font-size: 30px;
    color: #ffffff;
    background-color: #ff4c7a;
    margin-top: 5px;
    padding: 5px;
    text-align: left;
    margin:none;
    margin-left:20px;
    float:none;
}

.item6 h5 {
    color:#ffffff;
    text-align: right;
    font-size:19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:50px;
}

.item6 h6 {
    font-size: 20px;
    margin: 15px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    color:#ffffff
    
}


footer {
    color:#ffffff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}



